/*===  List ===*/
/* accordion list */
.acdn-list {
  .acdn-title {
    position: relative;
    display: block;
    width: 100%;
    text-align: left;
    padding: 2rem 5.8rem 2rem 4.1rem;
    border-bottom: 1px solid $color-gray-light01;

    &::before {
      content: 'Q.';
      position: absolute;
      top: 2rem;
      left: 2rem;
      font-size: 1.6rem;
      line-height: 1.13;
      color: $color-primary;
      font-weight: normal;
    }

    &::after {
      content: '';
      position: absolute;
      top: 1rem;
      right: 1rem;
      width: 3.8rem;
      height: 3.8rem;
      background: url('../img/btn-list-arrow-down.svg') no-repeat center center;
      background-size: 100% auto;
    }

    &.selected {
      font-weight: bold;
      color: $color-primary;

      &::after {
        transform: rotate(180deg);
      }
    }

    > span {
      font-size: 1.6rem;
      line-height: 1.25;
    }
  }

  .acdn-content {
    > p {
      padding: 2rem;
      background-color: $color-gray-light02;
      line-height: 1.43;
    }
  }
}
.accordion-enter-active,
.accordion-leave-active {
  will-change: height, opacity;
  transition: height 0.3s ease, opacity 0.3s ease;
  overflow: hidden;
}

.accordion-enter,
.accordion-leave-to {
  height: 0 !important;
  opacity: 0;
}